button {
  all: unset;
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: bold;
  border-radius: 4px;
  padding: 0 1rem;
  line-height: 1;
}
[data-variant="primary"] {
  background: #1b74e4;
  color: #fff;
}
.secondary {
  background: #e4e6eb;
  color: #333;
}
[data-size="small"] {
  height: 24px;
  font-size: 12px;
}
