<section class="tile" data-variant="outlined" style="display:flex;flex-direction:column;gap:1rem;">
  <a class="link" data-variant="none" href="#">링크</a>
  <a class="link" data-variant="inline" href="#">링크</a>
  <a class="link" data-variant="icon" href="#">링크 <i class="icon icon-chevron-right"></i></a>
  <a class="link" data-variant="color" href="#">링크</a>
</section>

<br />

<section class="tile" data-variant="outlined" style="display:flex;flex-direction:column;gap:1rem;">
  <a class="link" data-variant="color" data-size="large" href="#">Size large</a>
  <a class="link" data-variant="color" data-size="medium" href="#">Size medium</a>
  <a class="link" data-variant="color" data-size="small" href="#">Size small</a>
</section>