<nav class="tablist" role="tablist">
  <button class="tab" role="tab" aria-selected="true">하이</button>
  <button class="tab" role="tab" aria-selected="false">바이</button>
  <div class="tab-indicator"></div>
</nav>