<ul>
  <li>--check-size</li>
  <li>--checkbox-radius</li>
  <li>--checkbox-label-font-size</li>
  <li>MEMO :: check-size VS checkbox-input-size</li>
  <li>접근성을 위해 레이블은 시각적으로 숨겨야함 (옵션)</li>
</ul>

<div class="group component-group" style="align-items: flex-start;">
  <div class="checkbox" data-variant="square" data-size="large">
    <input type="checkbox" id="checkbox-small" />
    <label for="checkbox-small"></label>
  </div>
  <div class="checkbox" data-variant="square">
    <input type="checkbox" id="checkbox-small" />
    <label for="checkbox-small"></label>
  </div>
  <div class="checkbox" data-variant="square" data-size="small">
    <input type="checkbox" id="checkbox-small" />
    <label for="checkbox-small"></label>
  </div>
</div>

<div class="component-group group" data-align="vertical">
  <div class="checkbox" data-variant="square" data-size="small">
    <input type="checkbox" id="checkbox-small" />
    <label for="checkbox-small">Checkbox square small</label>
  </div>
  <div class="checkbox" data-variant="square">
    <input type="checkbox" id="checkbox1" />
    <label for="checkbox1">Checkbox square medium</label>
  </div>
  <div class="checkbox" data-variant="square" data-size="large">
    <input type="checkbox" id="checkbox2" />
    <label for="checkbox2">Checkbox square large</label>
  </div>
</div>

<div class="component-group group" data-align="vertical">
  <div class="checkbox" data-variant="circle" data-size="small">
    <input type="checkbox" id="checkbox-small" />
    <label for="checkbox-small">Checkbox circle small</label>
  </div>
  <div class="checkbox" data-variant="circle">
    <input type="checkbox" id="checkbox1" />
    <label for="checkbox1">Checkbox circle medium</label>
  </div>
  <div class="checkbox" data-variant="circle" data-size="large">
    <input type="checkbox" id="checkbox2" />
    <label for="checkbox2">Checkbox circle large</label>
  </div>
</div>

<div class="component-group group" data-align="vertical">
  <div class="checkbox">
    <input type="checkbox" id="checkbox" />
    <label for="checkbox">{{text}}</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="checkbox2" />
    <label for="checkbox2">개인정보 수집이용 동의</label>
    <a class="checkbox-link link" href="#">전문보기</a>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="checkbox2" disabled />
    <label for="checkbox2">개인정보 수집이용 동의</label>
    <a class="checkbox-link link" href="#">전문보기</a>
  </div>
</div>