<ul>
  <li>--check-size</li>
  <li>--checkbox-radius</li>
  <li>--checkbox-label-font-size</li>
  <li>MEMO :: check-size VS checkbox-input-size</li>
  <li>접근성을 위해 레이블은 시각적으로 숨겨야함 (옵션)</li>
</ul>

<br />

<section class="tile" data-variant="outlined">
  <div class="group">
    <div class="checkbox" data-variant="square" data-size="large">
      <input type="checkbox" id="checkbox1" />
      <label for="checkbox1"></label>
    </div>
    <div class="checkbox" data-variant="square">
      <input type="checkbox" id="checkbox2" />
      <label for="checkbox2"></label>
    </div>
    <div class="checkbox" data-variant="square" data-size="small">
      <input type="checkbox" id="checkbox3" />
      <label for="checkbox3"></label>
    </div>
  </div>
</section>
<br />
<section class="tile" data-variant="outlined">
  <div class="checkbox" data-variant="ghost" data-size="small">
    <input type="checkbox" id="checkbox-ghost-small1" />
    <label for="checkbox-ghost-small1">{{text}}</label>
  </div>
  <div class="checkbox" data-variant="ghost">
    <input type="checkbox" id="checkbox-ghost-small2" />
    <label for="checkbox-ghost-small2">{{text}}</label>
  </div>
  <div class="checkbox" data-variant="ghost" data-size="large">
    <input type="checkbox" id="checkbox-ghost-small3" />
    <label for="checkbox-ghost-small2">{{text}}</label>
  </div>
</section>
<br />
<section class="tile" data-variant="outlined">
  <div class="group" data-align="vertical">
    <div class="checkbox" data-variant="square" data-size="small">
      <input type="checkbox" id="checkbox4" />
      <label for="checkbox4">Checkbox square small</label>
    </div>
    <div class="checkbox" data-variant="square">
      <input type="checkbox" id="checkbox5" />
      <label for="checkbox5">Checkbox square medium</label>
    </div>
    <div class="checkbox" data-variant="square" data-size="large">
      <input type="checkbox" id="checkbox6" />
      <label for="checkbox6">Checkbox square large</label>
    </div>
  </div>
</section>
<br />
<section class="tile" data-variant="outlined">
  <div class="group" data-align="vertical">
    <div class="checkbox" data-variant="circle" data-size="small">
      <input type="checkbox" id="checkbox7" />
      <label for="checkbox7">Checkbox circle small</label>
    </div>
    <div class="checkbox" data-variant="circle">
      <input type="checkbox" id="checkbox8" />
      <label for="checkbox8">Checkbox circle medium</label>
    </div>
    <div class="checkbox" data-variant="circle" data-size="large">
      <input type="checkbox" id="checkbox9" />
      <label for="checkbox9">Checkbox circle large</label>
    </div>
  </div>
</section>
<br />
<section class="tile" data-variant="outlined">
  <div class="group" data-align="vertical">
    <div class="checkbox">
      <input type="checkbox" id="checkbox10" />
      <label for="checkbox10">{{text}}</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="checkbox11" />
      <label for="checkbox12">개인정보 수집이용 동의</label>
      <a class="checkbox-link link" href="#">전문보기</a>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="checkbox13" disabled />
      <label for="checkbox13">개인정보 수집이용 동의</label>
      <a class="checkbox-link link" href="#">전문보기</a>
    </div>
  </div>
</section>