<ul>
  <li>모바일 친화적이지 않음</li>
  <li>작은 공간에 너무 많은 인풋이 들어가거나 하나의 칼럼만 남은 경우의 예외 처리. 크기의 변화가 너무 다이내믹함.</li>
  <li>한 번에 너무 많은 입력을 받기 때문에 개발이 어렵고 오류가 발생할 가능성이 크다.</li>
</ul>
<table>
  <tbody>
    <tr>
      <th>제목</th>
      <td>내용</td>
    </tr>
    <tr>
      <th>제목</th>
      <td>
        <div class="group" style="gap:1.5rem;">
          <div class="checkbox">
            <input type="checkbox" id="checkbox" checked />
            <label for="checkbox">옵션 하나</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="checkbox" />
            <label for="checkbox">옵션 둘</label>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>제목</th>
      <td>
        <div class="textfield" data-size="small">
          <input class="textfield-input" type="text" id="textfield1" placeholder="test" />
        </div>
      </td>
    </tr>
  </tbody>
</table>

<style>
  tbody {display:flex;flex-wrap:wrap;border-style:solid !important;border-color:red !important;border-width:1px 0 0 1px;} tbody tr
  {width:50%;box-sizing:border-box;border:0 !important;border-style:solid !important;border-color:red !important;border-width:0 1px 1px 0 !important;}
  tbody tr th {background-color: antiquewhite;vertical-align:middle !important;} tbody tr th, tbody tr td {height:68px;padding:.25rem 1rem !important}

</style>