<ul>
  <li>내부 간격inset</li>
  <li>radius</li>
  <li>background</li>
  <li>surface</li>
</ul>
<hr data-space="large" />
<div class="tile">
  <h5>tile? box? paper?</h5>
  <p style="margin:.5rem 0 0;">flatted(가칭): 카드의 컨테이너, elevated(가칭): 다이얼로그나 드롭다운의 컨테이너로 쓸 수 있다. </p>
</div>
<br />
<div class="tile" data-variant="elevated" style="width: 180px;">
  <h5>tile? box? paper?</h5>
  <p style="margin:.5rem 0 0;">elevation은 border + shadow로 만들 수 있기 때문에 토큰 이름을 shadow로 하는 것이 조금 더 좋다는 생각. 그림자를 중첩할
    수 있기 때문에 그림자로 border를 만든다면 elevation도 괜찮은.</p>
</div>
<br />
<form class="grid-filter" style="padding:1rem;">
  grid filter
</form>