<nav class="tablist" role="tablist">
  <button class="tab" role="tab" aria-selected="true">하이</button>
  <button class="tab" role="tab" aria-selected="false">바이</button>
  <div class="tab-indicator"></div>
</nav>

<br /><hr /><br />

<nav class="tablist1" role="tablist">
  <div class="tab1" role="tab" aria-selected="true">
    <i class="icon-home"></i>
    사건목록
    <button>
      <i class="icon-close"></i>
    </button>
  </div>
  <button class="tab1" role="tab" aria-selected="false">업무AA</button>
  {{! <div class="tab-indicator"></div> }}
</nav>