<div class="card">
  <figure class="card-media">
    <img src="{{path '/assets/avatar.png'}}" alt="대표림" style="width:100px;margin:auto;filter:drop-shadow(1px 1px 0px #df7e94);" />
  </figure>
  <div class="card-content">
    <em class="card-category badge" style="margin-top:24px">Category</em>
    <h3 class="card-title text" data-variant="subhead">이미지 게시판 타이틀</h3>
    <span class="card-subtitle">서브 타이틀/부제</span>
    <p class="card-description text" data-varinat="body">추가된 요소와 상황에 따라 탐색 목적, 주요 정보 또는 관련 콘텐츠에 사용됩니다. 콘텐츠
      컨테이너로서 페이지 내에서 정보를 일관되게 구성하는 데 유용합니다.</p>
  </div>

  <div style="margin-top:32px;">{{> @action-menu}}</div>
</div>