<figure class="icon" style="background: crimson;">
  icon sample
</figure>
<br />
<div style="display:flex;align-items:center;gap:var(--space-4);">
  <button class="count-button">
    <figure class="icon" data-size="small" style="background:crimson"></figure>
    <span class="text" data-variant="label3" style="line-height:20px;">10</span>
  </button>
  <button class="count-button">
    <figure class="icon" data-size="small" style="background:crimson"></figure>
    <span class="text" data-variant="label3" style="line-height:20px;">10</span>
  </button>
  <button class="count-button">
    <figure class="icon" data-size="small" style="background:crimson"></figure>
    <span class="text" data-variant="label3" style="line-height:20px;">10</span>
  </button>
</div>