<ul>
  <li>icon(24/20/16)과 icon button(56/48/40/32/24)을 구분한다.</li>
  <li>20px은 component 페이지에 정의되어 있지 않지만 리액션 버튼에서 사용 중.</li>
  <li>사이즈는 전체적으로 textfield / button / icon button 정도는 동일하면 좋다. (+ 상태, 형태)</li>
</ul>
<br />
<p class="text">사용중인 아이콘</p>
<section class="tile" data-variant="outlined">
  <div class="group">
    <div class="icon icon-system-verified"></div>
    <div class="icon icon-system-warning"></div>
    <div class="icon icon-caret-down"></div>
    <div class="icon icon-home"></div>
    <div class="icon icon-search"></div>
    <div class="icon icon-clear"></div>
    <div class="icon icon-close"></div>
  </div>
</section>
<br />
<section class="tile" data-variant="outlined">
  <div class="group">
    <div class="icon icon-home" data-size="16"></div>
    <div class="icon icon-home" data-size="20"></div>
    <div class="icon icon-home" data-size="24"></div>
  </div>
</section>
<br />
<div class="group" style="gap:var(--space-4)">
  <button class="icon-button" data-variant="text"></button>
  <button class="icon-button" data-variant="text" disabled></button>
</div>

<br />

<div class="group" style="gap:var(--space-4)">
  <button class="icon-button" data-variant="filled"></button>
  <button class="icon-button" data-variant="filled" disabled></button>
</div>

<br />

<div class="group" style="gap:var(--space-4)">
  <button class="icon-button" data-variant="lined"></button>
  <button class="icon-button" data-variant="lined" disabled></button>
</div>

<br />

<div class="group" style="gap:var(--space-4)">
  <button class="icon-button" data-variant="subtle"></button>
  <button class="icon-button" data-variant="subtle" disabled></button>
</div>

<br /><hr /><br />

<div class="group" style="gap:var(--space-4)">
  <button class="icon-button" data-variant="filled" data-size="xlarge">
    <figure></figure>
  </button>
  <button class="icon-button" data-variant="filled" data-size="large">
    <figure></figure>
  </button>
  <button class="icon-button" data-variant="filled" data-size="medium">
    <figure></figure>
  </button>
  <button class="icon-button" data-variant="filled" data-size="small">
    <figure></figure>
  </button>
</div>

<br /><hr /><br />

<div class="group" style="gap:var(--space-4);">
  <button class="count-button">
    <figure class="icon" data-size="tiny" style="background:crimson"></figure>
    <span class="text" data-variant="label3" style="line-height:20px;">10</span>
  </button>
  <button class="count-button">
    <figure class="icon" data-size="tiny" style="background:crimson"></figure>
    <span class="text" data-variant="label3" style="line-height:20px;">10</span>
  </button>
  <button class="count-button">
    <figure class="icon" data-size="tiny" style="background:crimson"></figure>
    <span class="text" data-variant="label3" style="line-height:20px;">10</span>
  </button>
</div>