<section class="step">
  <div class="step-item is-active"> <span class="step-item-icon">1</span> <b class="step-item-label">장바구니</b> </div>
  <div class="step-item"> <span class="step-item-icon">2</span> <b class="step-item-label">결제</b> </div>
  <div class="step-item"> <span class="step-item-icon">3</span> <b class="step-item-label">주문완료</b> </div>
</section>f