<div class="textfield">
  <label class="textfield-label" for="id">검색 필드</label>
  <div class="textfield-prefix">
    <i class="icon-search"></i>
  </div>
  <button class="textfield-suffix">
    <i class="icon icon-clear" data-size="40"></i>
  </button>
  <input class="textfield-input" type="search" id="id" placeholder="이름이나 장소로 검색" autocomplete="off" />
</div>