<div class="textfield" data-type="price">
  <label class="textfield-label" for="id">가격</label>
  {{! TODO suffix 위치 ~ 선택자. data-price 선택자. 항상 원이 들어가면. 스크린 리더기에서 벨류와 유닛을 읽는타이밍?}}
  <input class="textfield-input" type="number" id="id" placeholder="숫자, 특수문자 포함 8자 이상" />
  <i class="textfield-suffix">원</i>
  <p class="textfield-helper">계좌 1회 10,000,000원 / 1일 1,000,000원</p>
</div>