<h1 class="text-title" data-variant="title">타이틀 Title</h1>
<h2 class="text-subhead" data-variant="subhead">서브헤드 Subhead</h2>
<p class="text-body" data-variant="body-large">바디 텍스트 Body text large</p>
<p class="text-body" data-variant="body">바디 텍스트 Body text</p>
<p class="text-caption" data-variant="caption">캡션 Caption</p>

<br /><br />
<p style="margin-bottom:1rem;border-bottom:1px solid;padding-bottom:.5rem;color:#999;">ring</p>

<h6>heading4</h6>
<p class="text" data-variant="heading4">{{heading}}</p>
<br />
<h6>body1</h6>
<p class="text" data-variant="body1">{{body}}</p>
<br />
<h6>body2</h6>
<p class="text" data-variant="body2">{{body}}</p>