.button[aria-pressed="true"] {
}

.button {
  --button-min-width: 5rem;
  --button-height: 40px;
  --button-border: var(--border);
  --button-radius: var(--radius);
  --button-font-weight: var(--font-weight-bold);
  --button-background-color: null;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: var(--button-min-width);
  height: var(--button-height);
  gap: var(--space-2);
  padding: 0 var(--space-4);
  border: var(--button-border);
  border-radius: var(--button-radius);
  box-sizing: border-box;

  font-weight: var(--button-font-weight);
  text-transform: capitalize;
}
.button-suffix {
  /* TODO */
  display: block;
  width: 20px;
  height: 20px;
  margin-right: -0.25rem;
}

// variant
.button[data-variant="primary"] {
  --button-border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: #fff;
}
.button[data-variant="secondary"] {
  border: 1px solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
}
.button[data-variant="tertiary"] {
  border: 1px solid var(--color-background-weak);
  background: var(--color-background-weak);
  color: var(--color-text);
}
.button[data-variant="text"] {
  background: transparent;
  border: 1px solid transparent;
  color: var(--color-primary);
}
.button[data-variant="destructive"] {
  background: var(--red800);
  border: 1px solid var(--red800);
  color: var(--gray0);
}

.button[data-size="large"] {
  height: 48px;
}

.button[data-size="medium"] {
  height: 40px;
}
.button[data-size="small"] {
  height: 32px;
}
.button[data-size="tiny"] {
  height: 24px;
  padding: 0 10px;
  font-size: 12px;
}
.button[data-isfullwidth] {
  width: 100%;
}

.button:focus,
.button[data-status="focus"] {
  outline: 3px solid var(--color-point);
}
.button:disabled,
.button[data-status="disabled"] {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon-button {
  height: fit-content;
}
.icon-button:focus {
  outline: 3px solid var(--color-point);
}
/* ring */
.icon-button[data-variant="lined"],
.button[data-variant="lined"] {
  border: var(--border);
  background-color: none;
  color: var(--color-content-primary);
}

.icon-button[data-variant="lined"],
.button[data-variant="lined"]:hover {
  background-color: rgba(36, 38, 40, 0.05);
}

.icon-button[data-variant="filled"],
.button[data-variant="filled"] {
  --button-border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: #fff;
}

.icon-button[data-variant="filled"],
.button[data-variant="filled"]:hover {
  --button-border: 1px solid #5050dc;
  background: #5050dc;
}

.icon-button[data-variant="subtle"],
.button[data-variant="subtle"] {
  --button-border: 1px solid rgba(242, 242, 245, 1);
  background: var(--color-semantic-subtle);
  color: var(--color-content-primary);
}
.icon-button[data-variant="subtle"],
.button[data-variant="subtle"]:hover {
  background-color: rgba(36, 38, 40, 0.05);
}

.icon-button[data-variant="text"],
.button[data-variant="text"] {
  --button-border: 1px solid transparent;
  background: transparent;
  color: var(--color-content-primary);
}
.icon-button[data-variant="text"],
.button[data-variant="text"]:hover {
  background: var(--color-semantic-hovered);
}

.icon-button[data-size="large"] {
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
/* .icon:before,
.icon-button:before {
  content: "";
  display: block;
  background: var(--color-semantic-hovered);
  position: absolute;
  left: -0.25rem;
  right: -0.25rem;
  top: -0.25rem;
  bottom: -0.25rem;
} */

.icon[data-size="xlarge"],
.icon-button[data-size="xlarge"] {
  width: 48px;
  height: 48px;
}
.icon[data-size="large"],
.icon-button[data-size="large"] {
  width: 40px;
  height: 40px;
}
.icon[data-size="medium"],
.icon-button[data-size="medium"] {
  width: 32px;
  height: 32px;
}
.icon[data-size="small"],
.icon-button[data-size="small"] {
  width: 24px;
  height: 24px;
}

/* TODO */
[data-variant="text"]:disabled,
[data-variant="filled"]:disabled,
[data-variant="lined"]:disabled,
[data-variant="subtle"]:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.group[data-segmented] {
  gap: 0;
}
.group[data-segmented] .button {
  border: 0;
  border-radius: 0;
}
.group[data-segmented] .button[data-selected] {
  background: var(--color-primary);
  color: #fff;
}
.group[data-segmented] .button:nth-of-type(1) {
  border-radius: var(--radius) 0 0 var(--radius);
}
.group[data-segmented] .button:nth-last-of-type(1) {
  border-radius: 0 var(--radius) var(--radius) 0;
}
