.button {
  --button-min-width: 5rem;
  --button-height: 40px;
  --button-font-color: null;
  --button-color: null;
  --button-border: 1px solid var(--button-color);
  --button-radius: var(--radius);
  --button-font-weight: var(--font-weight-bold);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: var(--button-min-width);
  height: var(--button-height);
  gap: var(--space-2);
  padding: 0 var(--space-4);
  border: var(--button-border);
  border-radius: var(--button-radius);
  box-sizing: border-box;

  background: var(--button-color);

  color: var(--button-font-color);
  font-weight: var(--button-font-weight);
  text-transform: capitalize;
}
.button-suffix {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: -0.25rem;
}
/* 
.button[data-variant="text"] {
  background: transparent;
  border: 1px solid transparent;
  color: var(--color-primary);
}
.button[data-variant="destructive"] {
  background: var(--red800);
  border: 1px solid var(--red800);
  color: var(--gray0);
} */

.button:focus:not(:active),
.button[data-status="focus"] {
  outline: 3px solid var(--color-point);
  /* outline: 0;
  box-shadow: var(--state-focus); */
}
.button:active:not(:focus) {
  background: #f0b800;
  border-color: #008296;
  box-shadow: 0 0 0 3px #c8f3fa, inset 0 0 0 2px #fff;
}

.icon-button:focus {
  outline: 3px solid var(--color-point);
}

.button[data-variant="lined"] {
  --button-color: var(--color-border);
  background: none;
}

.button[data-variant="lined"][data-color="primary"] {
  --button-color: var(--color-primary);
  --button-font-color: var(--color-primary);
}

.button[data-variant="lined"]:hover {
  background-color: rgba(36, 38, 40, 0.05);
}

.button[data-variant="filled"] {
  --button-color: var(--color-primary);
  --button-font-color: #fff;
}

.button[data-variant="subtle"] {
  --button-border: 1px solid rgba(242, 242, 245, 1);
  background: #e7eefe;
  color: var(--color-content-primary);
}
.button[data-variant="subtle"]:hover {
  background-color: rgba(36, 38, 40, 0.05);
}

.button[data-variant="text"] {
  --button-border: 1px solid transparent;
  background: transparent;
  color: var(--color-content-primary);
}
.button[data-variant="text"]:hover {
  background: var(--color-semantic-hovered);
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  /* height: fit-content; */
  border-radius: 50%;
  position: relative;
}
/* .icon:before,
.icon-button:before {
  content: "";
  display: block;
  background: var(--color-semantic-hovered);
  position: absolute;
  left: -0.25rem;
  right: -0.25rem;
  top: -0.25rem;
  bottom: -0.25rem;
} */

.icon[data-size="xlarge"],
.icon-button[data-size="xlarge"] {
  width: 48px;
  height: 48px;
}
.icon[data-size="large"],
.icon-button[data-size="large"] {
  width: 40px;
  height: 40px;
}
.icon[data-size="medium"],
.icon-button[data-size="medium"] {
  width: 32px;
  height: 32px;
}
.icon[data-size="small"],
.icon-button[data-size="small"] {
  width: 24px;
  height: 24px;
}

/* TODO */
.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* button colours */
.button[data-color="secondary"] {
  /* --button-background-color: #000; */
  --button-color: #000;
  --button-font-color: #fff;
}
.button[data-color="tertiary"] {
  /* --button-background-color: #000; */
  --button-color: #6d7178;
  --button-font-color: #fff;
}

/* button sizes */
.button[data-size="large"] {
  height: 48px;
}

.button[data-size="medium"] {
  height: 40px;
}
.button[data-size="small"] {
  height: 32px;
}
.button[data-size="tiny"] {
  height: 24px;
  padding: 0 10px;
  font-size: 12px;
}

/* button group */
.group[data-segmented] {
  gap: 0;
}
.group[data-segmented] .button {
  border: 0;
  border-radius: 0;
  --button-radius: 50px;
}
.group[data-segmented] .button[data-selected] {
  background: var(--color-primary);
  color: #fff;
}
.group[data-segmented] .button:nth-of-type(1) {
  border-radius: var(--button-radius) 0 0 var(--button-radius);
}
.group[data-segmented] .button:nth-last-of-type(1) {
  border-radius: 0 var(--button-radius) var(--button-radius) 0;
}
