[data-variant="title"] {
  line-height: var(--line-height);

  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height);
  color: var(--color-text);
}

[data-variant="subhead"] {
  line-height: var(--line-height);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
}

[data-variant="body"] {
}

[data-variant="caption"] {
  font-size: 12px;
  font-weight: var(--font-weight-normal);
  /* color: var(--color-text-light); */
}
