.icon {
  display: block;
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* icon과 icon-button 구분. 사이즈가 애매 */
/* xs, s , m , l, xl :: 5종 */
.icon[data-size="16"] {
  width: 16px;
  height: 16px;
}
.icon[data-size="20"] {
  width: 20px;
  height: 20px;
}
.icon[data-size="24"] {
  width: 24px;
  height: 24px;
}

.icon-breadcrumb-divider {
  background-image: url("/assets/icons/icon-breadcrumb-divider.png");
}

.icon-system-verified {
  background-image: url("/assets/icons/icon-system-verified.png");
}
.icon-system-warning {
  background-image: url("/assets/icons/icon-system-warning.png");
}

.icon-caret-down {
  background-image: url("/assets/icons/icon-caret-down.png");
}
.icon-chevron-down {
  background-image: url("/assets/icons/icon-chevron-down.png");
}
.icon-chevron-right {
  background-image: url("/assets/icons/icon-chevron-right.png");
}

.icon-search {
  background-image: url("/assets/icons/icon-search.png");
}
.icon-home {
  background-image: url("/assets/icons/icon-home.png");
}
.icon-clear {
  background-image: url("/assets/icons/icon-clear.png");
}
.icon-close {
  background-image: url("/assets/icons/icon-close.png");
}
