body,
dl,
dd,
figure,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}
ul,
ol,
menu,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
fieldset,
iframe,
img,
hr {
  border: none;
}
main,
picture {
  display: block;
}
iframe,
img,
video {
  width: 100%;
  display: block;
}
strong,
b,
th,
legend {
  font-weight: var(--font-weight-bold);
}
cite,
i,
address,
em,
dfn {
  font-style: normal;
}
em {
  color: var(--color-primary);
}
small {
  font-size: var(--font-size-small);
}
abbr,
ins {
  text-decoration: none;
}
/* del {color:var(--color-text-light);} */
a {
  text-decoration: none;
  /* text-decoration-skip-ink:auto;color:var(--color-primary); */
}
a:link,
a:visited {
}
a:hover,
a:focus {
}
a:active {
}

code {
  display: block;
  background: var(--color-background-weak);
  border-radius: var(--radius);
  font-family: var(--font-family-code);
  font-size: var(--font-size-small);
  letter-spacing: 0.0125rem;
}
svg {
  color: var(--gray800);
}
p,
li,
dt,
dd {
  line-height: var(--font-line-height-large);
}

/* // for appearance on safari */
select {
  -webkit-appearance: none;
  background: none;
  border: none;
  font: inherit;
  color: var(--color-text);
}
select:focus-visible {
  outline: none;
}
select::-ms-expand {
  display: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  text-align: left;
  font: inherit;
  color: inherit;
  cursor: pointer;
  /* > * {pointer-events:none;} // for 이벤트 캡쳐} */
}

html {
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
  line-height: var(--font-line-height);
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior: contain;
}
body {
  background: var(--color-background);
  color: var(--color-text);
  font-size: 0.875rem;
}

blockquote {
  margin: 2rem 0;
  padding: var(--space-4);
  background: var(--color-background-weak);
  border-left: 4px solid var(--gray200);
  border-radius: var(--radius) 0 0 0;
}
q {
  position: relative;
}
q:before {
  content: "“";
  display: block;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-left-style: hidden;
  border-right-style: hidden;
  --table-lineheight: 1.6;
}
table caption {
  padding: 0.5rem 0;
  font-size: var(--font-size-small);
  text-align: left;
}
table thead {
}
table thead tr {
}
table thead tr th {
  padding: var(--space-2) 0;
  line-height: var(--table-lineheight);
  color: var(--color-text-light);
  text-align: left;
}
table tbody {
}
table tbody tr {
  border: var(--border);
  line-height: var(--table-lineheight);
  position: relative;
}
table tbody tr th {
  width: 6rem;
  padding: var(--space-3) 0;
  text-align: left;
  color: var(--color-text-light);
  vertical-align: baseline;
}
table tbody tr td {
  padding: var(--space-3) 0;
}
table tbody tr:hover {
}
table .right {
  text-align: right;
}
table tbody[role="rowgroup"] tr th {
  width: 25%;
}
table tbody[role="rowgroup"] tr th + th {
  width: auto;
}

ul {
  padding-left: var(--space-4);
}
ul li {
  line-height: var(--font-line-height);
}
ul li::marker {
}
ul li + li {
  margin: var(--space-2) 0 0 0;
}

ol {
  padding-left: var(--space-4);
}

dl {
  display: flex !important;
  flex-wrap: wrap;
}
dl dt {
  margin: 0 var(--space-2) 0 0;
  color: var(--color-text-light);
}
dl dt attr {
}
dl dd {
  margin: 0 var(--space-4) 0 0;
}

::selection {
  background: var(--gray800);
  color: var(--gray0);
}
::placeholder {
  color: var(--color-text-light);
}

/* // writing-mode: horizontal-tb / vertical-rl / vertical-lr;

// ::-webkit-scrollbar {width:auto;height:auto;}
// ::-webkit-scrollbar-track {background:inherit;}
// ::-webkit-scrollbar-thumb {background:inherit;}
// ::-webkit-scrollbar-button {display:none;background-color:inherit;}
// ::-webkit-scrollbar-corner {background-color:inherit;} 
// [aria-live="polite | assertive | off"] {}  */
/* [aria-haspopup=true] {} // dialog . menu, grid, listbox, tree
[aria-pressed=true] {} // 음소거 등
[aria-modal=true] {}
[aria-label=close] {} */

/* @custom-selector :--heading h1, h2, h3, h4, h5, h6; */
/* float-clear-logical-values */
/* span:first-child {
  float: inline-start;
} */
/* a:has(> img) {
  display: block;
} */

@media print {
  /* For links in content, visually display the link */
  a::after {
    content: "(" attr(href) ")";
  }
}
