.step {
  display: flex;
  width: 100%;
  --step-icon-size: 24px;
}
.step-item {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-1) 0;
  padding-top: 10px;
  padding-right: 14px;
  border-top: 2px solid #dde0e3;
  position: relative;
}
.step-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--step-icon-size);
  height: var(--step-icon-size);
  border-radius: var(--radius);
  background: #cbced2;
  color: #fff;
  position: relative;
}
.step-item-label {
  display: block;
  font-weight: var(--font-weight-normal);
  line-height: var(--step-icon-size);
}
.step[data-align="vertical"] {
  flex-direction: column;
}
.step[data-align="vertical"] .step-item {
  padding: 0;
  padding-left: 16px;
  padding-bottom: 24px;
  border-top: 0;
  border-left: 2px solid #dde0e3;
}
.step[data-align="vertical"] .step-item:nth-last-child(1) {
  padding-bottom: 0;
}

.step-item.is-active {
  border-color: var(--color-primary) !important;
}
.step-item.is-active .step-item-icon {
  background: var(--color-primary);
}
.step-item.is-active .step-item-label {
  font-weight: bold;
}
