.icon {
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* icon과 icon-button 구분. 사이즈가 애매 */
.icon[data-size="size16"] {
  width: 16px;
  height: 16px;
  background-size: 16px;
}

.icon-breadcrumb-divider {
  background-image: url("/assets/icons/icon-breadcrumb-divider.png");
  background-size: 16px;
}

.icon-system-verified {
  background-image: url("/assets/icons/icon-system-verified.png");
}
.icon-system-warning {
  background-image: url("/assets/icons/icon-system-warning.png");
}

.icon-caret-down {
  background-image: url("/assets/icons/icon-caret-down.png");
}
.icon-chevron-down {
  background-image: url("/assets/icons/icon-chevron-down.png");
}
.icon-chevron-right {
  background-image: url("/assets/icons/icon-chevron-right.png");
}

.icon-search {
  background-image: url("/assets/icons/icon-search.png");
}
.icon-home {
  background-image: url("/assets/icons/icon-home.png");
}
.icon-clear {
  background-image: url("/assets/icons/icon-clear.png");
}
.icon-close {
  background-image: url("/assets/icons/icon-close.png");
}

.group {
  display: flex;
  gap: var(--space-2);
}

.group[data-align="vertical"] {
  flex-direction: column;
}

.group[data-size="small"] {
  gap: var(--space-1);
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--space-2);
  position: relative;
  z-index: 1;

  --hover-outline: calc(var(--space-3) / 2 * -1);
}
[data-variant="primary"] {
  background: var(--color-primary);
  color: #fff;
}
.item-label {
  font-size: var(--font-size-medium);
  line-height: 24px;
  color: var(--color-text);
}

.item-action,
.item-trailing {
  margin-left: auto;
}

.item:hover {
  background: var(--color-semantic-hovered);
}

.tile {
  display: block;
  padding: var(--space-4);
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  box-shadow: var(--shadow);
  position: relative;
  /* // 임시 */
  /* margin: var(--space-3) 0; */
}

.tile[data-variant="elevated"] {
  border-color: #cdd0d4;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.tile {
  padding: var(--space-6);
  border: var(--border);
  border-radius: var(--radius);
  overflow: hidden;
}

.card {
  max-width: 320px;
  padding: var(--space-6);
  border: var(--border);
  border-radius: var(--radius);
  overflow: hidden;
}

.card[data-type="tt"] {
}
.card-media {
  margin: calc(var(--space-6) * -1) calc(var(--space-6) * -1) 0;
  padding-top: 56.25%;
  background: #ffc5d2;
  overflow: hidden;
  position: relative;
}
.card-media img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  /* padding: 0 var(--space-6) var(--space-6); */
}
.card-title {
  margin: var(--space-4) 0 0 0;
}
.card-subtitle,
.text[data-variant="body"] {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  color: #808890;
}
.card-subtitle {
}
.card-description {
  margin: 24px 0 0 0;
  font-size: 16px;
  color: #808890;
}

.action-menu {
  display: flex;
  gap: var(--space-2);
  gap: 0.5rem;
}
.action-menu-media {
}
.action-menu-content {
}
.action-menu b {
  display: block;
  margin-bottom: 4px;
  color: var(--color-content-secondary, #565d64);

  /* Lable/Label2_medium */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.action-menu time {
  color: var(--color-content-tertiary, #808890);
  /* Lable/Label3_Regular */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}

.login-utils {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}
.login-utils a {
  color: var(--color-text);
}

/* .util-color-accent? */

.link {
  display: inline-flex;
  align-items: center;
  color: var(--color-content-primary);
}

.link[data-variant="none"] {
  text-decoration: none;
  color: var(--color-content-tertiary);
}
.link[data-variant="none"]:hover {
  color: var(--color-content-primary);
  text-decoration: underline;
}
.link[data-variant="inline"] {
  text-decoration: underline;
}
.link[data-variant="icon"] {
  display: flex;
  gap: 2px;
  text-decoration: none;
}
.link[data-variant="icon"]:hover {
  color: var(--color-content-primary);
}
.link[data-variant="color"] {
  color: var(--color-content-link);
  text-decoration: none;
}
.link[data-variant="color"]:hover {
  text-decoration: underline;
}

.link[data-size="large"] {
  font-size: 16px;
}
.link[data-size="medium"] {
  font-size: 14px;
}
.link[data-size="small"] {
  font-size: 12px;
}

.link:focus {
  outline: 1px solid var(--color-point);
}

.divider {
  height: 16px;
  border-top: 1px solid var(--color-gray-100, #e5e6e8);
  background: var(--color-gray-50, #f5f5f6);
}

form:invalid {
  background-color: var(--color-danger);
}

/* tabs */
.tablist {
  display: flex;
  max-width: 240px;
  margin: 0 auto;
  /* margin:0 0 var(--space-3) 0; */
  /* padding: var(--space-1); */
  border-radius: var(--radius);
  background: var(--color-background-weak);
  position: relative;
}
[role="tabpanel"][aria-hidden="false"] {
  display: block;
}
[role="tabpanel"][aria-hidden="true"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  width: 100%;
  /* width - tabSlot */
  height: var(--size-8);
  color: var(--color-text-light);
  position: relative;
  z-index: 1;
}
.tab[aria-selected="true"] {
  color: var(--color-text);
  font-weight: var(--font-weight-bold);
}

.tab-label {
  padding: 0 0 var(--adjust-label-line) 0;
}

.tab-indicator {
  display: block;
  width: 50%;
  height: 100%;
  background: var(--color-background);
  /* box-shadow: var(--shadow); */
  border: 2px solid var(--color-background-weak);
  box-sizing: border-box;
  border-radius: var(--radius);
  position: absolute;
  transition: all var(--duration);
}

.tab:nth-child(1):active ~ .tab-indicator {
  transform: translateX(calc(70px * 1));
}
.tab:nth-child(2):active ~ .tab-indicator {
  transform: translateX(100%);
}

.count-button {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* // custom file */
input:blank {
}
input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
input[type="file"] + label {
}
input[type="file"] + label:after {
  display: none;
}

.file {
}
.file-title {
}
.file-description {
  margin: var(--space-2) 0 0 0;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: var(--space-4) 0 0 0;
  padding: 3.25rem 0;
  background: var(--color-primary-subtle);
  border: 1px dashed var(--color-border-primary, #cdd0d4);
  border-radius: 4px;
  position: relative;
}

.file-input {
}
.file-label {
  /* TODO */
  --button-min-width: 5rem;
  --button-size: 40px;
  --button-color: var(--color-primary);

  --button-border: 1px solid var(--button-color);
  --button-radius: var(--radius);

  --button-text-color: #fff;
  --button-font-weight: var(--font-weight-bold);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--button-min-width);
  height: var(--button-size);
  padding: 0 var(--space-4) 2px;
  border: var(--button-border);
  border-radius: var(--button-radius);
  box-sizing: border-box;

  background: var(--button-color);
  color: var(--button-text-color);
  font-weight: var(--button-font-weight);
  text-transform: capitalize;
}
.file-label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-attachment {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: var(--space-4) 0 0 0;
  gap: var(--space-2);
}
.file-attachment-title {
  margin: 0.5rem 0;
}
.file-attachment-helper {
}
.file-attachment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 var(--space-3);
  /* todo semantic color -layer? */
  background-color: rgba(245, 245, 246, 1);
  position: relative;
}
.file-attachment-item-delete {
  right: 0.5rem;
  top: 0.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  padding: var(--space-3) var(--grid-margin);
  box-sizing: border-box;
  background: var(--color-background);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--zindex-menu);
}
.navbar-logo {
}
.navbar-burger {
  margin: 0 var(--space-2) 0 0;
  z-index: calc(var(--zindex-menu) + 1);
}

.navbar-menu {
  display: flex;
  align-items: center;
  margin: 0 0 0 2rem;
  position: relative;
}
.navbar-menu > a {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: 0 var(--space-4);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  position: relative;
  z-index: 1;
}
.navbar-menu a:hover menu {
  top: var(--navbar-height);
}
.navbar-menu menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  gap: var(--space-4);
  padding-bottom: 2rem;
  background: var(--color-background);
  position: fixed;
  left: 0;
  right: 0;
  top: -100px;
  z-index: 0;
  transition: var(--transition-base);
}
.navbar-menu menu a {
  display: block;
  position: relative;
  z-index: var(--zindex-default);
}

.navbar-backdrop {
  height: var(--navbar-height);
}

.navbar-notification {
  margin: 0 0.5rem;
  position: relative;
}
.navbar-notification-trigger {
}
.navbar-notification-menu {
}
.navbar-notification-menu:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  right: 0;
  top: -8px;
  bottom: 0;
}
.navbar-notification-menu-title {
}
.navbar-notification-menu-all {
  position: absolute;
  top: 13px;
  right: 1rem;
}
.is-active + .navbar-notification-menu {
  height: auto;
  transform: scale(1);
}

.navbar-user {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  position: relative;
}
/* .navbar-user-card {max-width:400px;height:0;@mixin tile-elevated;position:absolute;top:32px;right:0;z-index:var(--zindex-popover);transform:scale(0);} */

/* // .is-active .navbar-logo {z-index:calc(var(--zindex-menu) + 2);z-index:5;}
// .is-active .navbar-user {z-index:calc(var(--zindex-menu) + 2);z-index:5;}
// .is-active .navbar-user .navbar-user-trigger img {background:var(--color-background);}
// .is-active .navbar-menu-item {color:var(--gray0);}
// .is-active .navbar-menu-item > a {position:relative;z-index:calc(var(--zindex-menu) + 2);}
// .is-active .navbar-menu-item i {border-top-color:var(--gray0);}
// .is-active .navbar-menu-item menu {top:0;}
// .is-active .navbar-menu-item menu a {opacity:1;}
// .is-darktheme .navbar-menu-item {color:var(--gray0);} */

.text-feedback {
  color: var(--color-semantic-nagative-accent, #c70e0e);
  /* Lable/Label3_Regular */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}

hr {
  width: 100%;
  height: 1px;
  background: var(--color-border-primary);
}

/* // grid filter */
.grid-filter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: var(--spacing-6, 24px) var(--spacing-10, 40px);
  border-radius: var(--radius-radius-md, 8px);
  background: var(--color-semantic-surface-layer, #f5f5f6);
  position: relative;
}
.grid-filter-row {
  display: flex;
  gap: 64px;
}
.grid-filter-row .textfield {
  width: 256px;
}
.grid-filter-row .textfield-label {
  width: 86px;
}
.grid-filter-row .textfield-input {
  width: 170px;
}
.grid-filter-footer {
  position: absolute;
  right: 40px;
  bottom: 24px;
}

.dialog {
  max-width: 320px;
  padding: var(--space-4);
}
.dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin: var(--space-4) 0 0;
}

/* list */
.list {
  font-size: 14px;
}
.list {
  border-collapse: collapse;
}
.list tbody {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  /* border-width: 1px 0 0 1px; */
  border-width: 1px 0 1px 0;

  border-color: var(--color-border-primary);
}
.list tbody tr {
  width: 50%;
  height: 48px;
  /* border-style: solid !important;
  border-width: 0 1px 1px 0 !important;
  border-color: var(--color-border-disabled); */
  border-bottom: 1px solid var(--color-border-disabled);
  box-sizing: border-box;
}
.list tbody tr + tr {
  /* 2칼럼일때오른쪽최상단 */
}
.list tbody tr:nth-last-of-type(1),
.list tbody tr:nth-last-of-type(1) th {
  border-bottom: 0;
}
.list tbody tr th {
  width: 260px;
  padding: 14px 24px;
  box-sizing: border-box;
  background-color: var(--color-semantic-surface-layer);
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px solid var(--color-border-disabled);
}
.list tbody tr td {
  width: 460px;
  padding: 8px;
  box-sizing: border-box;
}
.list tbody tr th,
.list tbody tr td {
  height: 48px;
}
