.group {
  display: flex;
  gap: var(--space-2);
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--space-2);
  position: relative;
  z-index: 1;

  --hover-outline: calc(var(--space-3) / 2 * -1);
}
[data-variant="primary"] {
  background: var(--color-primary);
  color: #fff;
}
.item-label {
  font-size: var(--font-size-medium);
  line-height: 24px;
  color: var(--color-text);
}

.item-action {
  margin-left: auto;
}

.tile {
  display: block;
  padding: var(--space-4);
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  box-shadow: var(--shadow);
  position: relative;
  /* // 임시 */
  /* margin: var(--space-3) 0; */
}

.tile[data-variant="elevated"] {
  border-color: #cdd0d4;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.tile {
  padding: var(--space-6);
  border: var(--border);
  border-radius: var(--radius);
  overflow: hidden;
}

.card {
  max-width: 320px;
  padding: var(--space-6);
  border: var(--border);
  border-radius: var(--radius);
  overflow: hidden;
}

.card[data-type="tt"] {
}
.card-media {
  margin: calc(var(--space-6) * -1) calc(var(--space-6) * -1) 0;
  padding-top: 56.25%;
  background: #ffc5d2;
  overflow: hidden;
  position: relative;
}
.card-media img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  /* padding: 0 var(--space-6) var(--space-6); */
}
.card-title {
  margin: var(--space-4) 0 0 0;
}
.card-subtitle,
.text[data-variant="body"] {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  color: #808890;
}
.card-subtitle {
}
.card-description {
  margin: 24px 0 0 0;
  font-size: 16px;
  color: #808890;
}

.action-menu {
  display: flex;
  gap: var(--space-2);
  gap: 0.5rem;
}
.action-menu-media {
}
.action-menu-content {
}
.action-menu b {
  display: block;
  margin-bottom: 4px;
  color: var(--color-content-secondary, #565d64);

  /* Lable/Label2_medium */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.action-menu time {
  color: var(--color-content-tertiary, #808890);
  /* Lable/Label3_Regular */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}
.menulist {
  display: flex;
  flex-direction: column;
}
.menuitem {
  display: block;
  line-height: 32px;
}
.menuitem:hover {
  background: red;
}

.login-utils {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}
.login-utils a {
  color: var(--color-text);
}

/* .util-color-accent? */
