[data-variant="title"] {
  line-height: var(--line-height);

  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height);
  color: var(--color-text);
}

[data-variant="subhead"] {
  line-height: var(--line-height);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
}

[data-variant="body-large"] {
  font-size: var(--font-size-large);
}

[data-variant="body"] {
}

[data-variant="caption"] {
  font-size: 12px;
  font-weight: var(--font-weight-normal);
  /* color: var(--color-text-light); */
}

/* ring */
.text[data-variant="heading4"] {
  font-size: 24px;
  font-weight: 700;
  line-height: 135%; /* 32.4px */
}
.text[data-variant="heading5"] {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.text[data-variant="body1"] {
  font-size: 1rem;
  line-height: 1.6;
}
.text[data-variant="body2"] {
  font-size: 0.875rem;
  line-height: 1.7;
}
.text[data-variant="caption"] {
  font-size: 0.6875rem;
  font-weight: var(--font-weight-bold);
  line-height: 130%;
}

.text[data-variant="label3"] {
  color: var(--color-content-tertiary, #808890);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
}

.text[data-color="primary"] {
  color: var(--color-primary);
}

.text[data-color="point"] {
  color: var(--color-point);
}

.text[data-color="danger"] {
  color: var(--color-danger);
}
