/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css"); */

:root {
  color-scheme: light dark;

  --font-family: Pretendard, system-ui, sans-serif;
  --font-family-heading: null;
  --font-family-body: null;
  --font-family-caption: null;
  --font-family-code: null;

  --font-size-huge: 2rem;
  --font-size-large: 1.125rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extrabold: null;

  --font-line-height-large: 1.8;
  --font-line-height: 1.5;

  --size-10: 2.5rem;
  --size-12: 3rem;

  --space-05: 0.125rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;

  /* section */
  --space-8: 2rem;

  --radius: 6px;

  --shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);

  --gray0: #fff;
  --gray100: #f5f8f5;
  --gray200: #e4eae8;
  --gray400: #979d9a;
  --gray800: #343c38;

  --color-border: var(--gray200);

  --border: 1px solid var(--color-border);

  --color-primary: #0ed41b;
  --color-text: var(--gray800);

  --color-primary-light: null;
  --color-secondary: var(--yellow800);
  --color-accent: var(--yellow800);
  --color-warning: var(--red800);

  --color-background: var(--gray0);
  --color-background-weak: var(--gray100);
  --color-background-strong: var(--gray800);
  --color-background-darkest: null;
  --color-border: var(--gray200);
  --color-border-hover: var(--gray800);
  /* --color-text: #687076; */
  --color-text-light: var(--gray400);

  --color-text-weak: var(--gray0);
  --color-text-strong: var(--gray0);
}
