:root {
  color-scheme: light dark;

  --font-family: Pretendard, system-ui, sans-serif;

  --font-size-huge: 2rem;
  --font-size-large: 1.125rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extrabold: null;

  --font-line-height-large: 1.8;
  --font-line-height: 1.5;

  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-10: 2.5rem;
  --size-12: 3rem;

  --space-05: 0.125rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --radius: 6px;

  --shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);

  --gray0: #fff;
  --gray100: #f5f8f5;
  --gray200: #e4eae8;
  --gray400: #979d9a;
  --gray800: #343c38;

  --color-border: #cdd0d4;
  --color-border-primary: #cdd0d4;

  --border: 1px solid var(--color-border);

  --color-primary: #5050dc;
  --color-primary-subtle: rgba(80, 80, 220, 0.03);
  --color-point: rgba(38, 217, 217, 1);

  --color-text: var(--gray800);

  --color-text-light: #808890;

  --color-background: var(--gray0);
  --color-background-weak: var(--gray100);
  --color-background-strong: var(--gray800);
  --color-background-darkest: null;
  --color-border: var(--gray200);

  /* ring */
  --color-warning: #fdd291;
  --color-warning-subtle: rgba(255, 251, 224, 1);
  --color-warning-accent: #944500;
  --color-negative-subtle: rgba(255, 241, 241, 1);
  --color-negative-accent: #f93434;
  --color-positive-subtle: rgba(238, 255, 241, 1);
  --color-positive-accent: rgba(0, 122, 32, 1);

  --color-information-subtle: #ecedef;
  --color-information-accent: #2183fd;

  --color-point: rgba(38, 217, 217, 1);
  --color-content-primary: #000;
  --color-content-tertiary: #808890;
  --color-content-link: #1665f3;
  /* // TOO primary */
  --color-content-disabled: rgba(205, 208, 212, 1);
  --color-border: #c7cace;
  /* border-primary */
  --color-border-disabled: rgba(229, 230, 232, 1);
  --color-border-disabled: rgba(224, 225, 227, 1);

  --color-background-disabled: rgba(248, 248, 248, 1);

  --color-semantic-primary: #5050dc;
  --color-semantic-primary-subtle: #e6eafd;

  --color-semantic-disabled: rgba(250, 250, 250, 1);
  --color-semantic-overay: rgba(36, 38, 40, 0.05);
  /* --color-semantic-hovered: rgba(80, 80, 220, 0.05); */
  --color-semantic-hovered: rgba(80, 80, 220, 0.08);

  --color-semantic-subtle: #e5e6e8;
  --color-semantic-surface-layer: #f2f2f5;

  --radius-md: 8px;
  /* 
  --border: 1px solid #e5e6e8;
  --radius: 8px;

  --elevation: 0;
  --shadow: 0; */

  /* new */
  /* text / elemlent */
  /* --text-brand-01: #4f4fd9;
  --text-brand-02: #6572e6;
  --text-brand-03: #8fa3fa;
  --text-heading: #181a1b;
  --text-primary: #3c3e44;
  --text-secondary: #55585e;
  --text-tertiary: 0;
  --text-disabled: 0;
  --text-link: 0;
  --text-inverse: 0;
  --text-white: 0;
  --text-black: 0;
  --text-negative: 0;
  --text-warning: 0;
  --text-positive: 0;
  --text-information: 0;

  --color-border-heading: 0;
  --color-border-primary: 0;
  --color-border-secondary: #cecbd2;
  --color-border-tertiary: 0;
  --color-border-additon: 0;
  --color-border-disabled: #dde0e3;
  --color-border-brand: 0;
  --color-border-point: 0;
  --color-border-negative: 0;
  --color-border-warning: 0;
  --color-border-positive: 0;
  --color-border-information: 0;

  --color-background-base: 0;
  --color-background-layer-01: 0;
  --color-background-layer-02: 0;
  --color-background-item-light: 0;
  --color-background-item-dark: 0;
  --color-background-priamry: 0;
  --color-background-secondary: 0;
  --color-background-tertiary: 0;
  --color-background-point: 0;
  --color-background-brand: 0;
  --color-background-negative: 0;
  --color-background-warning: 0;
  --color-background-positive: 0;
  --color-background-information: 0;
  --color-background-disabled: #f9f9fa; */

  /* Light */ /* colors */
  --color-blue-100: #e5f3ff;
  --color-blue-200: #d6ebff;
  --color-blue-300: #85c7ff;
  --color-blue-400: #4da9ff;
  --color-blue-50: #f5faff;
  --color-blue-500: #2183fd;
  --color-blue-600: #0a64eb;
  --color-blue-700: #114bd0;
  --color-blue-800: #123aa1;
  --color-blue-900: #0d2e77;
  --color-blue-950: #152951;
  --color-gray-10: #f9f9fa;
  --color-gray-100: #e6e8ea;
  --color-gray-200: #dde0e3;
  --color-gray-300: #cbcfd2;
  --color-gray-400: #b3b7bd;
  --color-gray-50: #eeeff1;
  --color-gray-500: #9b9fa6;
  --color-gray-600: #878a92;
  --color-gray-700: #6d7178;
  --color-gray-800: #55585e;
  --color-gray-900: #3c3e44;
  --color-gray-950: #333538;
  --color-gray-980: #292b2d;
  --color-gray-990: #181a1b;
  --color-gray-black: #000000;
  --color-gray-overlay: #24262808;
  --color-gray-white: #ffffff;
  --color-green-100: #e4fbe0;
  --color-green-200: #c9f6c0;
  --color-green-300: #93eb8d;
  --color-green-400: #60d162;
  --color-green-50: #f0fded;
  --color-green-500: #30b53e;
  --color-green-600: #079d1f;
  --color-green-700: #007c0f;
  --color-green-800: #00670f;
  --color-green-900: #00530d;
  --color-green-950: #003007;
  --color-orange-100: #fff7d6;
  --color-orange-200: #ffebc2;
  --color-orange-300: #fdcb7f;
  --color-orange-400: #ffb14d;
  --color-orange-50: #fffae5;
  --color-orange-500: #ff941f;
  --color-orange-600: #f57c00;
  --color-orange-700: #cb5d00;
  --color-orange-800: #953d00;
  --color-orange-900: #612300;
  --color-orange-950: #461801;
  --color-red-100: #ffebeb;
  --color-red-200: #ffd6d6;
  --color-red-300: #ff9d9d;
  --color-red-400: #ff7070;
  --color-red-50: #fff5f5;
  --color-red-500: #f93434;
  --color-red-600: #e02f2f;
  --color-red-700: #c70e0e;
  --color-red-800: #9c0d0d;
  --color-red-900: #6f1010;
  --color-red-950: #4b0606;
  --color-royalblue-100: #e7eefe;
  --color-royalblue-200: #c9d6fd;
  --color-royalblue-300: #a5bbfd;
  --color-royalblue-400: #8fa3fa;
  --color-royalblue-50: #f5f8fe;
  --color-royalblue-500: #6572e6;
  --color-royalblue-600: #4f4fd9;
  --color-royalblue-700: #4543bf;
  --color-royalblue-800: #38389b;
  --color-royalblue-900: #34357b;
  --color-royalblue-950: #252357;
  --color-teal-100: #dbfafb;
  --color-teal-200: #c6f5f6;
  --color-teal-300: #98eaeb;
  --color-teal-400: #67d8da;
  --color-teal-50: #edfcfd;
  --color-teal-500: #2bced4;
  --color-teal-600: #00a5ad;
  --color-teal-700: #00838a;
  --color-teal-800: #00575c;
  --color-teal-900: #013d42;
  --color-teal-950: #04343a;
  --opacity-brand-16: #6572e629;
  --opacity-brand-20: #6572e633;
  --opacity-brand-24: #6572e63d;
  --opacity-brand-8: #6572e614;
  --opacity-dark-12: #181a1b1f;
  --opacity-dark-16: #181a1b29;
  --opacity-dark-3: #181a1b08;
  --opacity-dark-50: #181a1b80;
  --opacity-dark-8: #181a1b14;
  --opacity-dark-80: #181a1bcc;
  --opacity-dark-90: #181a1be5;
  --opacity-light-12: #ffffff1f;
  --opacity-light-16: #ffffff29;
  --opacity-light-3: #ffffff08;
  --opacity-light-50: #ffffff80;
  --opacity-light-8: #ffffff14;
  --opacity-light-80: #ffffffcc;
  --opacity-light-90: #ffffffe5; /* numbers */
  --sm: 1rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-32: 2rem;
  --radius-40: 2.5rem;
  --radius-60: 3.75rem;
  --radius-99: 62.4375rem;
  --size-sm: 0.25rem;

  --size-8: 0c;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-60: 3.75rem;
  --size-99: 62.4375rem;
  --spacing-none: 0rem;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-28: 1.75rem;
  --spacing-32: 2rem;
  --spacing-36: 2.25rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-56: 3.5rem;
  --spacing-60: 3.75rem;
  --spacing-64: 4rem;
  --spacing-72: 4.5rem;
  --spacing-80: 5rem;
  --spacing-88: 5.5rem;
  --spacing-96: 6rem;
  --spacing-104: 6.5rem;
  --spacing-112: 7rem;
  --spacing-120: 7.5rem;
  --spacing-160: 10rem;
  --spacing-200: 12.5rem;
}
:root {
  /* Light */ /* colors */
  --color-background-base: var(--color-gray-white);
  --color-background-disabled: var(--color-gray-10);
  --color-background-information: var(--color-blue-600);
  --color-background-information-subtile: var(--color-blue-100);
  --color-background-item-dark: var(--color-gray-980);
  --color-background-item-light: var(--color-gray-white);
  --color-background-layer-01: var(--color-gray-50);
  --color-background-layer-02: var(--color-gray-200);
  --color-background-nagative: var(--color-red-600);
  --color-background-nagative-subtile: var(--color-red-100);
  --color-background-nature: var(--color-gray-800);
  --color-background-nature-subtile: var(--color-gray-100);
  --color-background-point: var(--color-teal-500);
  --color-background-positive: var(--color-green-400);
  --color-background-positive-subtile: var(--color-green-100);
  --color-background-primary: var(--color-royalblue-600);
  --color-background-primary-subtile: var(--color-royalblue-100);
  --color-background-secondary: var(--color-gray-950);
  --color-background-skeleton: var(--color-gray-50);
  --color-background-tertiary: var(--color-gray-700);
  --color-background-warning: var(--color-orange-500);
  --color-background-warning-subtile: var(--color-orange-100);
  --color-border-addition: var(--color-gray-100);
  --color-border-brand: var(--color-royalblue-600);
  --color-border-disabled: var(--color-gray-200);
  --color-border-heading: var(--color-gray-950);
  --color-border-information: var(--color-blue-500);
  --color-border-nagative: var(--color-red-500);
  --color-border-point: var(--color-teal-500);
  --color-border-positive: var(--color-green-500);
  --color-border-primary: var(--color-gray-800);
  --color-border-secondary: var(--color-gray-300);
  --color-border-tertiary: var(--color-gray-200);
  --color-border-warning: var(--color-orange-500);
  --color-element-black: var(--color-gray-900);
  --color-element-brand-01: var(--color-royalblue-600);
  --color-element-brand-02: var(--color-royalblue-500);
  --color-element-brand-03: var(--color-royalblue-400);
  --color-element-disabled: var(--color-gray-300);
  --color-element-information: var(--color-blue-500);
  --color-element-inverse: var(--color-gray-white);
  --color-element-nagative: var(--color-red-500);
  --color-element-nature: var(--color-gray-700);
  --color-element-point: var(--color-teal-500);
  --color-element-positive: var(--color-green-600);
  --color-element-primary: var(--color-gray-800);
  --color-element-secondary: var(--color-gray-700);
  --color-element-tertiary: var(--color-gray-600);
  --color-element-warning: var(--color-orange-600);
  --color-element-white: var(--color-gray-white);
  --color-overlay-brand-hovered: var(--opacity-brand-8);
  --color-overlay-brand-pressed: var(--opacity-brand-16);
  --color-overlay-focused: var(--opacity-dark-80);
  --color-overlay-hovered: var(--opacity-dark-3);
  --color-overlay-pressed: var(--opacity-dark-8);
  --color-overlay-selected: var(--opacity-dark-80);
  --color-text-black: var(--color-gray-990);
  --color-text-brand-01: var(--color);
  --color-text-brand-02: var(--color-royalblue-500);
  --color-text-brand-03: var(--color-royalblue-400);
  --color-text-disabled: var(--color-gray-400);
  --color-text-heading: var(--color-gray-990);
  --color-text-information: var(--color-blue-700);
  --color-text-inverse: var(--color-gray-white);
  --color-text-link: var(--color-blue-600);
  --color-text-link-hovered: var(--color-blue-700);
  --color-text-link-pressed: var(--color-blue-700);
  --color-text-nagative: var(--color-red-700);
  --color-text-positive: var(--color-green-700);
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-800);
  --color-text-tertiary: var(--color-gray-700);
  --color-text-warning: var(--color-orange-800);
  --color-text-white: var(--color-gray-white); /* numbers */
  --radius-radius-none: 0rem;
  --radius-radius-sm: var(--radius-4);
  --radius-radius-md: var(--radius-8);
  --radius-radius-lg: var(--radius-16);
  --radius-radius-xl: var(--radius-32);
  --radius-radius-2xl: var(--radius-60);
  --radius-radius-full: var(--radius-99);
  --spacing-none: 0rem;
  --spacing-05: var(--spacing-2);
  --spacing-1: var(--spacing-4);
  --spacing-015: var(--spacing-6);
  --spacing-2: var(--spacing-8);
  --spacing-025: var(--spacing-10);
  --spacing-3: var(--spacing-12);
  --spacing-4: var(--spacing-16);
  --spacing-5: var(--spacing-20);
  --spacing-6: var(--spacing-24);
  --spacing-8: var(--spacing-32);
  --spacing-10: var(--spacing-40);
  --spacing-12: var(--spacing-48);
  --spacing-14: var(--spacing-56);
  --spacing-16: var(--spacing-64);
  --spacing-20: var(--spacing-80);
  --spacing-30: var(--spacing-120);
  --spacing-40: var(--spacing-160);
  --spacing-50: var(--spacing-200);

  [data-theme="dark"] {
    /* Dark */ /* colors */
    --color-background-base: var(--color-gray-980);
    --color-background-disabled: var(--color-gray-980);
    --color-background-information: var(--color-blue-600);
    --color-background-information-subtile: var(--color-blue-950);
    --color-background-item-dark: var(--color-gray-white);
    --color-background-item-light: var(--color-gray-980);
    --color-background-layer-01: var(--color-gray-950);
    --color-background-layer-02: var(--color-gray-900);
    --color-background-nagative: var(--color-red-600);
    --color-background-nagative-subtile: var(--color-red-950);
    --color-background-nature: var(--color-gray-700);
    --color-background-nature-subtile: var(--color-gray-950);
    --color-background-point: var(--color-teal-500);
    --color-background-positive: var(--color-green-500);
    --color-background-positive-subtile: var(--color-green-950);
    --color-background-primary: var(--color-royalblue-700);
    --color-background-primary-subtile: var(--color-royalblue-950);
    --color-background-secondary: var(--color-gray-700);
    --color-background-skeleton: var(--color-gray-950);
    --color-background-tertiary: var(--color-gray-900);
    --color-background-warning: var(--color-orange-500);
    --color-background-warning-subtile: var(--color-orange-950);
    --color-border-addition: var(--color-gray-950);
    --color-border-brand: var(--color-royalblue-700);
    --color-border-disabled: var(--color-gray-900);
    --color-border-heading: var(--color-gray-500);
    --color-border-information: var(--color-blue-500);
    --color-border-nagative: var(--color-red-500);
    --color-border-point: var(--color-teal-500);
    --color-border-positive: var(--color-green-500);
    --color-border-primary: var(--color-gray-600);
    --color-border-secondary: var(--color-gray-800);
    --color-border-tertiary: var(--color-gray-900);
    --color-border-warning: var(--color-orange-500);
    --color-element-black: var(--color-gray-900);
    --color-element-brand-01: var(--color-royalblue-500);
    --color-element-brand-02: var(--color-royalblue-400);
    --color-element-brand-03: var(--color-royalblue-300);
    --color-element-disabled: var(--color-gray-800);
    --color-element-information: var(--color-blue-600);
    --color-element-inverse: var(--color-gray-800);
    --color-element-nagative: var(--color-red-400);
    --color-element-nature: var(--color-gray-600);
    --color-element-point: var(--color-teal-500);
    --color-element-positive: var(--color-green-600);
    --color-element-primary: var(--color-gray-300);
    --color-element-secondary: var(--color-gray-400);
    --color-element-tertiary: var(--color-gray-500);
    --color-element-warning: var(--color-orange-600);
    --color-element-white: var(--color-gray-white);
    --color-overlay-brand-hovered: var(--opacity-brand-16);
    --color-overlay-brand-pressed: var(--opacity-brand-24);
    --color-overlay-focused: var(--opacity-dark-80);
    --color-overlay-hovered: var(--opacity-light-3);
    --color-overlay-pressed: var(--opacity-light-8);
    --color-overlay-selected: var(--opacity-light-80);
    --color-text-black: var(--color-gray-990);
    --color-text-brand-01: var(--color-royalblue-300);
    --color-text-brand-02: var(--color-royalblue-400);
    --color-text-brand-03: var(--color-royalblue-500);
    --color-text-disabled: var(--color-gray-700);
    --color-text-heading: var(--color-gray-white);
    --color-text-information: var(--color-blue-400);
    --color-text-inverse: var(--color-gray-990);
    --color-text-link: var(--color-blue-400);
    --color-text-link-hovered: var(--color-blue-300);
    --color-text-link-pressed: var(--color-blue-300);
    --color-text-nagative: var(--color-red-400);
    --color-text-positive: var(--color-green-400);
    --color-text-primary: var(--color-gray-200);
    --color-text-secondary: var(--color-gray-300);
    --color-text-tertiary: var(--color-gray-400);
    --color-text-warning: var(--color-orange-400);
    --color-text-white: var(--color-gray-white); /* numbers */
    --radius-radius-none: 0rem;
    --radius-radius-sm: var(--radius-4);
    --radius-radius-md: var(--radius-8);
    --radius-radius-lg: var(--radius-16);
    --radius-radius-xl: var(--radius-32);
    --radius-radius-2xl: var(--radius-60);
    --radius-radius-full: var(--radius-99);
    --spacing-none: 0rem;
    --spacing-05: var(--spacing-2);
    --spacing-1: var(--spacing-4);
    --spacing-015: var(--spacing-6);
    --spacing-2: var(--spacing-8);
    --spacing-025: var(--spacing-10);
    --spacing-3: var(--spacing-12);
    --spacing-4: var(--spacing-16);
    --spacing-5: var(--spacing-20);
    --spacing-6: var(--spacing-24);
    --spacing-8: var(--spacing-32);
    --spacing-10: var(--spacing-40);
    --spacing-12: var(--spacing-48);
    --spacing-14: var(--spacing-56);
    --spacing-16: var(--spacing-64);
    --spacing-20: var(--spacing-80);
    --spacing-30: var(--spacing-120);
    --spacing-40: var(--spacing-160);
    --spacing-50: var(--spacing-200);
  }
}
:root {
  /* Light */ /* colors */
  --color: #ffffff;
  --input-filled-background: var(--color-background-item-light);
  --input-filled-border: var(--color-border-secondary);
  --input-filled-border-focused: var(--color-border-heading);
  --input-outlined-background: var(--color-background-item-light);
  --input-outlined-border: var(--color-border-secondary);
  --input-outlined-focused: var(--color-border-heading); /* Dark */ /* colors */
  --color: #ffffff;
  --input-filled-background: var(--color-background-item-dark);
  --input-filled-border: var(--color-border-heading);
  --input-filled-border-focused: var(--color-border-secondary);
  --input-outlined-background: var(--color-background-item-dark);
  --input-outlined-border: var(--color-border-heading);
  --input-outlined-focused: var(--color-border-secondary);
}
