<aside class="dialog tile">
  <h3 data-variant="subhead">{{title}}</h3>
  <p data-variant="body">{{description}}</p>
  <div class="dialog-footer group">
    <button class="button" data-variant="tertiary">cancel</button>
    <button class="button" data-variant="primary">confirm</button>
  </div>
</aside>