<div class="action-menu">
  <div class="avatar" data-size="a4">
    <img class="avatar-image" src="{{path '/assets/avatar.png'}}" alt="avatar {{size}}" />
  </div>
  <div class="action-menu-content">
    <b>인스플래닛</b>
    <time>
      2023-06-25 11:50:59
    </time>
  </div>
  <button></button>
</div>