<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{path '/assets/css/style.css'}}" />
    <title>{{_target.label}} | Preview Layout</title>
  </head>
  <body>
    <div style="padding:2rem">{{{yield}}}</div>
  </body>
</html>