<div class="textfield">
  <label class="textfield-label" for="id">textarea</label>
  <textarea class="textfield-input" id="id" rows="4" cols="10" placeholder="" style="height:auto;padding:var(--space-4);"></textarea>
</div>