<div class="group">
  <div class="textfield">
    <label class="textfield-label" for="id">체크인</label>
    <i class="textfield-suffix">원</i>
    <input class="textfield-input" type="text" id="id" placeholder="" />
  </div>
  <div style="">~</div>
  <div class="textfield">
    <label class="textfield-label" for="id">체크아웃</label>
    <i class="textfield-suffix">원</i>
    <input class="textfield-input" type="text" id="id" placeholder="" />
  </div>
</div>