<div class="textfield">
  <label class="textfield-label" for="id">검색 필드</label>
    <i class="textfield-prefix">
      <?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m17 8-5-5-5 5M17 16l-5 5-5-5"></path></svg>
    </i>
    <div class="textfield-suffix">
      <button class="icon" data-size="small">
        <?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m17 8-5-5-5 5M17 16l-5 5-5-5"></path></svg>
      </button>
    </div>
    <input class="textfield-input" type="search" id="id" placeholder="이름이나 장소로 검색" autocomplete="off" />
</div>