<div class="tile">
  <div class="group" data-variant="tight">
    <button class="button" data-variant="primary" data-size="small">group</button>
    <button class="button" data-variant="primary" data-size="small">tight</button>
  </div>
</div>
<div class="tile" style="margin:1rem 0;">
  <div class="group" data-variant="default">
    <button class="button" data-variant="primary" data-size="small">group</button>
    <button class="button" data-variant="primary" data-size="small">default</button>
  </div>
</div>
<div class="tile">
  <div class="group" data-variant="loose">
    <button class="button" data-variant="primary" data-size="small">group</button>
    <button class="button" data-variant="primary" data-size="small">loose</button>
  </div>
</div>